{% for item in site.data.docssidebar %}
	{% if item.url == page.url %}
		{% assign activeitem = item %}
	{% endif %}
	{% if item.subitems[0] %}
		{% for subitem in item.subitems %}
			{% if subitem.url == page.url %}
				{% assign activeitem = item %}
				{% assign activesubitem = subitem %}
			{% endif %}
			{% if subitem.subitems[0] %}
				{% for subsubitem in subitem.subitems %}
					{% if subsubitem.url == page.url %}
						{% assign activeitem = item %}
						{% assign activesubitem = subitem %}
						{% assign activesubsubitem = subsubitem %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}
		  <!-- Sidebar -->
			<div class="col-md-4 col-xl-3 order-last order-md-first">
				<hr class="d-md-none">
				<aside class="sidebar sidebar-stick-shadow pr-md-5 br-1">
					{% include searchform.html %}
					<br>
					<ul class="nav nav-sidebar nav-sidebar-hero" data-accordion="true">
						{% for item in site.data.docssidebar %}
						<li class="nav-item">
							<a class="nav-link{% if item == activeitem %} active{% endif %}" href="{{ item.url }}">{{ item.name }} <i class="nav-angle"></i></a>
							{% if item.subitems[0] %}
							<div class="nav">
								{% for subitem in item.subitems %}
								<a class="nav-link{% if subitem == activesubitem %} active{% endif %}" href="{{ subitem.url }}">{{ subitem.name }}</a>
								{% if subitem == activesubitem and subitem.subitems[0] %}
								<div class="nav">
									{% for subsubitem in subitem.subitems %}
									<a class="nav-link{% if subsubitem == activesubsubitem %} active{% endif %}" href="{{ subsubitem.url }}">{{ subsubitem.name }}</a>{% endfor %}
								</div>{% endif %}{% endfor %}
							</div>{% endif %}
						</li>{% endfor %}
					</ul>
				</aside>
			</div>
