<!-- Footer -->
<footer class="footer footer-gradient">
  <div class="container">
    <div class="row gap-y align-items-center">

      <div class="col-lg-3">
        <a href="index.html"><img src="/assets/img/logo-small.png" alt="logo"></a>
      </div>

      <div class="col-lg-3 text-right order-lg-last">
        <div class="social">
          <a class="social-linkedin" href="https://www.linkedin.com/company/{{ site.linkedin_company }}/"
            target="_blank"><i class="fab fa-linkedin"></i></a>
          <a class="social-facebook" href="https://www.facebook.com/{{ site.facebook_page }}" target="_blank"><i
              class="fab fa-facebook"></i></a>
          <a class="social-twitter" href="https://twitter.com/{{ site.twitter.username }}" target="_blank"><i
              class="fa-brands fa-x-twitter"></i></a>
          <a class="social-youtube" href="https://www.youtube.com/channel/{{ site.youtube_channel }}" target="_blank"><i
              class="fab fa-youtube"></i></a>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="nav nav-bold nav-uppercase nav-trim justify-content-lg-center">
          <a class="nav-link" href="https://www.garagehive.co.uk/" target="_blank">Homepage</a>
          <a class="nav-link" href="https://garagehive.co.uk/blog/" target="_blank">Blog</a>
          <a class="nav-link" href="https://garagehive.co.uk/contacts/" target="_blank">Team</a>
        </div>
      </div>

    </div>
  </div>
</footer>
<!-- /.footer -->