	<!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="row gap-y align-items-center">

          <div class="col-6 col-lg-3">
            <a href="index.html"><img src="{{ "assets/img/logo-small.png" | relative_url }}" alt="logo"></a>
          </div>

          <div class="col-6 col-lg-3 text-right order-lg-last">
            <div class="social">
			  <a class="social-linkedin" href="https://www.linkedin.com/company/garage-hive-limited/"><i class="fa fa-linkedin"></i></a>
              <a class="social-facebook" href="https://www.facebook.com/garagehive"><i class="fa fa-facebook"></i></a>
              <a class="social-twitter" href="https://twitter.com/GarageHiveUK"><i class="fa fa-twitter"></i></a>
              <a class="social-youtube" href="https://www.youtube.com/channel/UCEO94MEqoL9C2cIDCorxL6A"><i class="fa fa-youtube"></i></a>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="nav nav-bold nav-uppercase nav-trim justify-content-lg-center">
              <a class="nav-link" href="https://www.garagehive.co.uk/">Homepage</a>
              <a class="nav-link" href="https://www.garagehive.co.uk/live-blog">Blog</a>
              <a class="nav-link" href="https://www.garagehive.co.uk/best-team">Team</a>
            </div>
          </div>

        </div>
      </div>
    </footer>
	<!-- /.footer -->