    
    <meta property="og:title" content="Garage Hive Docs - Garage Management System">
    <meta property="og:description" content="Documentaion for a cloud-based business management system designed specifically for the independent motor industry.">
    <meta property="og:image" content="https://docs.garagehive.co.uk/assets/img/logo-on-white.jpg">
    <meta property="og:url" content="https://docs.garagehive.co.uk/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@GarageHiveUK">