    
    <!--<link href="/assets/css/page.css" rel="stylesheet">-->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- FontAwsom -->
    <link rel="stylesheet" type="text/css" href="/assets/css/all.css"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Bootstrap select -->
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css">
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <!-- Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="/assets/css/style.css?v=20220419"/>
    <script src="/assets/js/script.js?v=20220419"></script>