<!DOCTYPE html>
<html lang="en">
  <head>
    {% include googleanalytics.html %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>{{ page.title }} | {{ site.title }}</title>

    {% include styles.html %}
    {% include favicons.html %}
    {% include open_graph_tags.html %}

  </head>

  <body>

	  {% include navigation.html %}
	
    <!-- Header -->
    <header class="header bg-light pt-9 pb-5 header-gradient">
      <div class="container">
        <h3>{{ page.title }}</h3>
      </div>
    </header><!-- /.header -->


    <!-- Main Content -->
    <main class="main-content">
      <div class="container">
        <div class="row">

          {% include docssidebar.html %}

		      <div class="col-md-7 col-xl-8 ml-md-auto py-8">
            <article>
			        {{ content }}
			      </article>
          </div>

        </div>
      </div>
    </main><!-- /.main-content -->


    {% include footer.html %}
    {% include scripts.html %}

  </body>
</html>