<!DOCTYPE html>
<html lang="en">
  <head>
    {% include googleanalytics.html %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>{{ page.title }} | {{ site.title }}</title>

    {% include styles.html %}
    {% include favicons.html %}
    {% include open_graph_tags.html %}
    {% seo %}

  </head>

  <body>

	  {% include navigation.html %}
	  {{ content }}
	  {% include footer.html %}
    {% include scripts.html %}

  </body>
</html>
